<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PurrfectMatch"
        tools:targetApi="31">
        <activity
            android:name=".PendingAppView"
            android:exported="false" />
        <activity
            android:name=".ScheduleShelter"
            android:exported="false" />
        <activity
            android:name=".ScheduleUser"
            android:exported="false" />
        <activity
            android:name=".ViewApplication"
            android:exported="false" />
        <activity
            android:name=".ViewPagerCatEditAdapter"
            android:exported="false" />
        <activity
            android:name=".EditCat"
            android:exported="false" />
        <activity
            android:name=".CatProfile"
            android:exported="false" />
        <activity
            android:name=".ViewCatsAdoption"
            android:exported="false" />
        <activity
            android:name=".ViewPagerAdapterCat"
            android:exported="false" />
        <activity
            android:name=".AddCat"
            android:exported="false" />
        <activity
            android:name=".ScheduledApplications"
            android:exported="false" />
        <activity
            android:name=".PendingApplications"
            android:exported="false" />
        <activity
            android:name=".PendingApplicationsSpecific"
            android:exported="false" />
        <activity
            android:name=".ShelterPage"
            android:exported="false" />
        <activity
            android:name=".SuccessForm"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SwipeActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ApplicationsActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".ExploreActivity" />
        <activity android:name=".ClickedExploreActivity" />
        <activity
            android:name=".ViewPagerAdapter"
            android:exported="false" />
        <activity
            android:name=".ApplicationAdapter"
            android:exported="false" />
        <activity
            android:name=".EditUser"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
    </application>

</manifest>